body {
    background-color: rgb(69, 99, 220);
    display: flex;
    height: 920px;
    vertical-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    padding-right: 5px;
    color:rgb(255, 255, 0);
}

p {
    color: rgb(131, 20, 131);
}